<div id='user_post_feed'>
  <% @user_blurbs.each do |blurbs| %>
    <div id='book_blurb' class='blurb_container'>
      <div id='cover'>
        <img src=<%= blurbs[0] %>>
      </div>
      <hr id='dividor'>
      <div id='wrapper'>
        <div id='user' class='blurb_text'>
          <%= blurbs[3] %>
        </div>
        <div id='date' class='blurb_text'>
          <%= blurbs[5] %>
        </div>
        <div id='content' class='blurb_text'> 
          <%= blurbs[2] %>
        </div>
        <div id='delete' class='blurb_text'>
          <a href='#' class='delete_blurb_button' id=<%= blurbs[4] %>>delete</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type='text/javascript'>
  $(document).ready( function () {
    $(".delete_blurb_button").click( function() {
      $.ajax({
        type: "POST", 
        url: "/users/delete_blurb",
        data: { 'blurb_id' : $(this).attr('id') }
      });  
      $(this).parent().parent().parent().css("visibility", "hidden");
    });
  });
</script>
