<% @blurb_array.each do |blurbs| %>
  <div id='book_blurb' class='blurb_container'>
    <div id='cover'>
      <img src=<%= blurbs[0] %> class='info-switch'>
    </div>
    <div id='wrapper'>
      <div id='user' class='blurb_text'>
        <%= link_to(blurbs[3], {:controller => 'users', :action => 'show', :id => blurbs[4]})%>
      </div>
      <div id='date' class='blurb_text'>
        <%= blurbs[5] %>
      </div>
      <div id='content' class='blurb_text'> 
        <a><%= blurbs[2] %></a>
      </div>
      <div id='book-info' class='hidden blurb_text'>
        <%= blurbs[1] %>
      </div>
      <% if blurbs[4] == @curr_user_id %>
        <div>
          <i id='<%= blurbs[6] %>' class='fa fa-pencil blurb-edit'></i>
        </div>
        <div>
          <i id='<%= blurbs[6] %>' class='fa fa-trash blurb-trash'></i>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @blurb_array.length != 0 %>
  <div id='user-endless-scroll'>
  </div>
<% end %>

