<% @page_title = @user_name %>

<div id='user_page_container'>
<div id='perm_panel'>
  <div id='user_info'>
    <div id='name'>
      <a><%= @user_name %></a>
      <% if !@is_own_user %>
        <% if !@is_following %>
          <%= link_to("+", {:controller => 'users', :action => 'new_follow', :to_follow => @user_id}, :class => 'follow-button')%>
        <% else %>
          <%= link_to("-", {:controller => 'users', :action => 'unfollow', :to_unfollow => @user_id}, :class => 'follow-button')%>
        <% end %>
      <% end %>
    </div>
    <img id='photo' src=<%= @user_photo%>>
    <div id='about'>
      <a id='text'><%= @user_about %></a>
    </div>
  </div>
  <div id='nav'>
    <div id='posts' class='selected link'>
      <a class='button_text'>posts</a>
    </div>
    <div id='followers' class='link'>
      <a class='button_text'>followers</a>
    </div>
    <div id='following' class='link'>
      <a class='button_text'>following</a>
    </div>
    <div id='top_ten' class='link'>
      <a class='button_text'>top ten</a>
    </div>
  </div>
</div>
<div id='info_window'>
</div>

<style>
  html, body {
    height: 100%;
  }

  #user_page_container {
    position: relative;
  }

  #perm_panel {
    float: left;

    /*
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    */
  }

  #perm_panel > #user_info {
    float: left;
    margin: 50px 5px 0px 50px;
  }

  #perm_panel > #user_info > #name {
    display: table;
    margin: 5px auto 5px auto;
   
    font-size: 20pt;
    font-family: "minion-pro", times, serif;
    font-weight: bold;
  }

  #perm_panel > #user_info > #photo{
    border-style: solid;
    border-width: 1px;
  }

  #perm_panel > #user_info > #about {
    padding: 2px;

    margin: 5px 0px 5px 0px;

    font-family: "Courier", Courier, monospace;
    font-size: 10pt;
    letter-spacing: -0.5pt;
  } 

  #perm_panel > #nav {
    float: left;
    margin: 100px 0px 5px 0px;
  }

  #perm_panel > #nav > .link {
    padding: 2px;
    margin: 5px 5px 5px 5px;

    cursor: pointer;
  }

  #perm_panel > #nav > .selected {
    margin-right: 0px;
    border-right: none;
  }

  #perm_panel > #nav > .link > a {
    font-family: "Courier", Courier, monospace;
    font-size: 10pt;
    letter-spacing: -0.5pt;
    text-decoration: none;
  }

  #info_window {
    position: absolute;
    top: 20px;
    left: 420px;
  }

</style>

<script type='text/javascript'>
  $(document).ready( function() {
    $.ajax({
      url: "/users/display_subpage",
      data: { button_id: "posts", view_user: "<%= @user_id %>"},
      success: function (result) {
        $("#info_window").html(result);
      }
    });
  });
 
  $(document).ready( function() {
    var elem_prev = 'posts';
    $("#perm_panel > #nav > .link").click( function(){
      $("#" + elem_prev).removeClass('selected');
      $(this).addClass('selected'); 
      var elem_id   = $(this).attr('id');   
      var view_user = "<%= @user_id %>";
      elem_prev = elem_id;
      $.ajax({
        url: "/users/display_subpage",
        data: { button_id: elem_id, view_user: view_user },
        success: function (result) {
          $("#info_window").html(result);
        }
      });
    });
  });
</script>
