<% @blurb_array.each do |blurbs| %>
  <div id='book_blurb' class='blurb_container'>
    <div id='title' class='blurb_text'>
        <%= blurbs[1] %>
    </div>
    <div id='cover'>
      <img src=<%= blurbs[0] %>>
    </div>
    <!--<hr noshade id='dividor'>-->
    <div id='wrapper'>
      <div id='user' class='blurb_text'>
        <%= link_to(blurbs[3], {:controller => 'users', :action => 'show', :id => blurbs[4]})%>
      </div>
      <div id='date' class='blurb_text'>
        <%= blurbs[5] %>
      </div>
      <div id='content' class='blurb_text'>
        <%= blurbs[2] %>
      </div>
    </div>
  </div>
<% end %>
