<div id='page_title'>
  <a>FEATURED POSTS</a>
</div>
<div id='feed_window'>
  <div id='feed_content'>
    <% @blurb_array.each do |blurbs| %>
      <div id='book_blurb' class='blurb_container'>
        <div id='title' class='blurb_text'>
            <%= blurbs[1] %>
        </div>
        <div id='cover'>
          <img src=<%= blurbs[0] %>>
        </div>
        <hr id='dividor'>
        <div id='wrapper'>
          <div id='user' class='blurb_text'>
            <%= link_to(blurbs[3], {:controller => 'users', :action => 'show', :id => blurbs[4]}) %> |<a id='date'> <%= blurbs[5] %></a>
          </div>
          <div id='content' class='blurb_text'>
            <%= blurbs[2] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
