<div id='nav-container'>
  <% if @logged_in %>
    <%= link_to({:controller => :home, :action => :index}, :id => 'home-icon-href') do %>
      <div id='nav-home-button' class='nav-item'>
        <i id='nav-home-icon' class='fa fa-home fa-2x'></i>
      </div>
    <% end %>
    <div id='nav-post-book' class='nav-item'>
      <a id="post-book-link">POST</a>
    </div>
    <div id='nav-personal' class='nav-item'>
      <div id='personal-name'>
        <a><%= @curr_fullname.upcase %></a>
      </div>
      <div id='personal-arrow' class='nav-arrow-down'>
      </div>
      <div id='personal-dropdown' class='nav-dropdown'>
        <!--<div id='personal-option-0' class='dropdown-option'>
          <a><%#= link_to("Home", {:controller => 'home', :action => 'index'})%></a>
        </div>-->
          <%= link_to({:controller => :users, :action => :show, :id => @curr_user_id }) do %>
            <div id='personal-option-1' class='dropdown-option'>
              Profile
            </div> 
        <% end %>
        <div id='personal-option-2' class='dropdown-option'>
          <!--<a><%= link_to("Settings", {:controller => 'users', :action => 'new'})%></a>-->
          <a>Settings</a>
        </div> 
        <%= link_to({:controller => 'users', :action => 'logout'}) do %>
          <div id='personal-option-3' class='dropdown-option'>
            Logout
          </div> 
        <% end %>
      </div>
    </div>
  <% else %>
    <div id='nav-signup' class='nav-item'>
      <%= link_to("SIGN UP", {:controller => 'users', :action => 'new'})%>
    </div>
    <div id='nav-login' class='nav-item'> 
      <%= link_to("LOGIN", {:controller => 'users', :action => 'login'})%>
    </div>
    <%= link_to({:controller => :welcome, :action => :index}, :id => 'home-icon-href') do %>
      <div id='nav-home-button' class='nav-item'>
        <i id='nav-home-icon' class='fa fa-home fa-2x'></i>
      </div>
    <% end %>
  <% end %>
  <div id='mag-glass'> 
    <i id='mag-glass-icon' class='fa fa-search fa-lg'></i>
  </div>
  <div id='nav-explore' class='nav-item'>
    <div id='explore-name'>
      <a>EXPLORE</a>
    </div>
    <div id='explore-arrow' class='nav-arrow-down'>
    </div>
    <div id='explore-dropdown' class='nav-dropdown'>
      <%= link_to({:controller => 'home', :action => 'featured'}) do %>
        <div id='explore-option-0' class='dropdown-option'>
          Featured
        </div> 
      <% end %>
      <div id='explore-option-1' class='dropdown-option'>
        <a>Trending</a>
      </div> 
      <div id='explore-option-2' class='dropdown-option'>
        <a>Top 100</a>
      </div> 
    </div>
  </div>
  <% if @logged_in %>
    <div id='nav-home' class='nav-item'>
      <a><%= link_to("HOME", {:controller => 'home', :action => 'index'})%></a>  
    </div>
  <% end %>
  <div id='nav-search'>
    <%= form_tag :controller => 'users', :action => 'search' do %>
     <%= text_field_tag :search_people_content, nil, :autocomplete => 'off', :placeholder => 'Search people...' %>
    <% end %>
  </div>
</div>
<div id='top-buffer'>
   <!-- Has same height as nav bar but is 'in the flow' so It leaves space at the top of every page-->
</div>
