<div id='nav-container'>
  <div id='nav-explore' class='nav-item'>
    <div id='explore-name'>
      <a>EXPLORE</a>
    </div>
    <div id='explore-dropdown' class='nav-dropdown'>
      <div id='explore-option-0' class='dropdown-option'>
        <a>Featured</a>
      </div> 
      <div id='explore-option-1' class='dropdown-option'>
        <a>Trending</a>
      </div> 
      <div id='explore-option-2' class='dropdown-option'>
        <a>Top 100</a>
      </div> 
    </div>
  </div>
  <% if @logged_in %>
    <div id='nav-personal' class='nav-item'>
      <div id='personal-name'>
        <a><%= @curr_fullname.upcase %></a>
      </div>
      <div id='personal-dropdown' class='nav-dropdown'>
        <div id='personal-option-0' class='dropdown-option'>
          <a><%= link_to("Home", {:controller => 'home', :action => 'index'})%></a>
        </div> 
        <div id='personal-option-1' class='dropdown-option'>
          <a><%= link_to("Profile", {:controller => 'users', :action => 'show', :id => @curr_user_id })%></a>
        </div> 
        <div id='personal-option-2' class='dropdown-option'>
          <!--<a><%= link_to("Settings", {:controller => 'users', :action => 'new'})%></a>-->
          <a>Settings</a>
        </div> 
        <div id='personal-option-3' class='dropdown-option'>
          <a><%= link_to("Logout", {:controller => 'users', :action => 'logout'})%></a>
        </div> 
      </div>
    </div>
    <div id='nav-post-book' class='nav-item'>
      <div id='pencil'>
        <img src='/pencil.png'>
      </div>
      <a id="post-book-link">POST</a>
    </div>
  <% else %>
    <div id='nav-signup' class='nav-item'>
      <%= link_to("SIGN UP", {:controller => 'users', :action => 'new'})%>
    </div>
    <div id='nav-login' class='nav-item'> 
      <%= link_to("LOGIN", {:controller => 'users', :action => 'login'})%>
    </div>
  <% end %>
  <div id='mag-glass'> 
    <img src='/mag_glass.png'>
  </div>
  <div id='nav-search'>
    <%= form_tag :controller => 'users', :action => 'search' do %>
     <%= text_field_tag :search_people_content, nil, :autocomplete => 'off', :placeholder => 'Search people...' %>
    <% end %>
  </div>
</div>
<div id='top-buffer'>
   <!-- Has same height as nav bar but is 'in the flow' so It leaves space at the top of every page-->
</div>
